body {
  background-color: #000000;
    color: #fff;
    text-align: center;
}

.title {
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
  font-weight: normal;
  text-align: center;
}

.link {
  color: aquamarine;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight: normal;
  text-align: center;
}
